body{
    padding: 0;
    margin: 0;
}
.dasbord_section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.dasbord_leftbox {
    width: 16%;
    padding: 10px;
    height: 100vh;
    background: #fff;
    box-shadow: 0px 10px 20px #0000001a;
}
.logo {
    width: 30%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.left_iconbox {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
}
.left_icon{
    width: 16px;
    color: #000;
}
.dasbord_section h3 {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 6px;
}
.right_box {
    width: 82%;
    margin-left: 2%;
}
.right_amountbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.right_txtbox {
    width: 24%;
    padding: 10px;
    background: #bae7ff;
    box-shadow: 0px 10px 20px #3a6cdf2b;
    border-radius: 10px;
}
.right_txtbox1 {
    width: 24%;
    padding: 10px;
    background: #e0e6ed;
    box-shadow: 0px 10px 20px #3a6cdf2b;
    border-radius: 10px;
}
.right_txtbox2 {
    width: 24%;
    padding: 10px;
    background: #ffeccb;
    box-shadow: 0px 10px 20px #3a6cdf2b;
    border-radius: 10px;
}
.right_txtbox3 {
    width: 24%;
    padding: 10px;
    background: #dccff7;
    box-shadow: 0px 10px 20px #3a6cdf2b;
    border-radius: 10px;
}
.dasbord_subbox{
    width: 100%;
    display: flex;
}
.user_box{
    display: flex;
    width: 100%;
}
.user_box h4 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}
.right_box h5 {
    font-size: 25px;
    font-weight: 400;
    color: #51d7cb;
    
}
.right_box h6 {
    font-size: 25px;
    font-weight: 400;
    color: red;
}
.table_box{
    width: 100%;
    margin-top: 3%;
}
.table_box1{
    width: 100%;
}
.table_box h3 {
    font-size: 21px;
    font-weight: 500;
    color: #000;
    padding-bottom: 12px;
}
.table_box1 h3 {
    font-size: 21px;
    font-weight: 500;
    color: #000;
    padding-bottom: 12px;
}
.table_txt{
    color: green;
}
.table_txt1{
    color: red;
}
.left_iconbox1 {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    background: #bae7ff;
}
.logout_box {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}
.logout_icon{
    width: 20px;
    color: blue;
}
.logout_box h3{
    font-size: 15px;
    color: #000;
    padding-left: 5px; 
}

/*login_section start hare*/
.login_section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.login_box {
    width: 40%;
    margin: 0 auto;
    box-shadow: 0px 10px 20px #4184ab40;
    padding: 20px;
}
.login_section h3 {
    font-size: 25px;
    color: #000;
    text-align: center;
}
.login_form{
    width: 100%;
}
.login_formele {
    width: 100%;
    height: 45px;
    border: 1px solid #e1ebf2;
    outline: none;
    color: #000;
    padding-left: 15px;
    margin-top: 2%;
}
.login_btnsc{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.login_btn {
    width: 160px;
    padding: 10px;
    background: #8ac0df;
    color: #fff;
    border: none;
    outline: none;
}
.products_box{
    width: 80%;
}

/*header section strat hare*/
.header_sc {
    padding-top: 5px;
    background: #8ac0df;
    position: sticky;
    top: 0px;   
    z-index: 999;
}
.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

/*graph_section start hare*/
.graph_section{
    width: 100%;
    display: flex;
}
.graph_box{
    width: 50%;
    padding: 20px;
}
.graph_box1{
    width: 50%;
    padding: 20px;
}